# Используем Pandas для работы с файлами в разных форматах

<a target="_blank" href="https://colab.research.google.com/github/sozykin/middle_python/blob/main/04/04_pandas.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
# Подключаем библиотеку Pandas
import pandas as pd

## Работа с CSV в Pandas

In [61]:
# Читаем csv файл в Pandas
df = pd.read_csv('sales.csv')

In [62]:
df

       id        date  store_nbr        family     sales  onpromotion
0  298919  2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920  2013-06-17         46   CELEBRATION     0.000            0
2  298921  2013-06-17         46      CLEANING  1707.000            0
3  298922  2013-06-17         46         DAIRY   711.000            0
4  298923  2013-06-17         46          DELI   709.268            0
5  298924  2013-06-17         46          EGGS   203.000            0
6  298925  2013-06-17         46  FROZEN FOODS   249.000            0
7  298926  2013-06-17         46     GROCERY I  5715.000            0
8  298927  2013-06-17         46    GROCERY II    42.000            0

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9 non-null      int64
 1   date         9 non-null      object
 2   store_nbr    9 non-null      int64
 3   family       9 non-null      object
 4   sales        9 non-null      float64
 5   onpromotion  9 non-null      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 560.0+ bytes

## Работа с JSON

In [64]:
names = pd.read_json("names_m.json",
                     encoding="Windows-1251")

In [65]:
names

         ID       Name  NumberOfPersons   global_id  Year   Month
0         1  Александр              253    37750243  2015  январь
1         2     Михаил              247    37750244  2015  январь
2         3       Иван              226    37750245  2015  январь
3         4     Максим              208    37750246  2015  январь
4         5      Артём              190    37750247  2015  январь
...     ...        ...              ...         ...   ...     ...
9896  11092   Тамерлан                8  2587775282  2023  Апрель
9897  11093    Даниэль                8  2587775283  2023  Апрель
9898  11094    Абдулла                8  2587775284  2023  Апрель
9899  11095       Олег                8  2587775285  2023  Апрель
9900  11096      Игорь                8  2587775286  2023  Апрель

[9901 rows x 6 columns]

In [66]:
names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9901 entries, 0 to 9900
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               9901 non-null   int64
 1   Name             9901 non-null   object
 2   NumberOfPersons  9901 non-null   int64
 3   global_id        9901 non-null   int64
 4   Year             9901 non-null   int64
 5   Month            9901 non-null   object
dtypes: int64(4), object(2)
memory usage: 464.2+ KB

Указываем типы данных для столбцов

In [67]:
names = pd.read_json("names_m.json",
                     dtype={'ID':int,
                            'Name': str,
                            'NumberOfPersons': float,
                            'global_id': int,
                            'Year': int,
                            'Month': str},
                     encoding="Windows-1251")

In [68]:
names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9901 entries, 0 to 9900
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               9901 non-null   int32
 1   Name             9901 non-null   object
 2   NumberOfPersons  9901 non-null   float64
 3   global_id        9901 non-null   int32
 4   Year             9901 non-null   int32
 5   Month            9901 non-null   object
dtypes: float64(1), int32(3), object(2)
memory usage: 348.2+ KB

Записываем данные в JSON файл

In [69]:
df = pd.read_csv('sales.csv')

In [70]:
df.to_json('sales.json')

In [71]:
df.to_json('sales_records.json',
           orient='records')

[Документация по методу Pandas to_json](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html).

In [ ]:
df.to_json('sales_records.json',
           orient='records',
           lines=True)

## Чтение файла по частям

In [77]:
sales = pd.read_csv('sales.csv',
                    chunksize=2)

In [78]:
sales

In [79]:
from collections.abc import Iterator

In [80]:
isinstance(sales, Iterator)

True

In [81]:
data = next(sales)

In [82]:
data

       id        date  store_nbr        family    sales  onpromotion
0  298919  2013-06-17         46  BREAD/BAKERY  566.253            0
1  298920  2013-06-17         46   CELEBRATION    0.000            0

In [83]:
data2 = next(sales)

In [84]:
data2

       id        date  store_nbr    family   sales  onpromotion
2  298921  2013-06-17         46  CLEANING  1707.0            0
3  298922  2013-06-17         46     DAIRY   711.0            0

In [85]:
sales = pd.read_csv('sales.csv',
                    chunksize=2)

In [86]:
for i, data in enumerate(sales):
    print(f"Итерация {i}")
    print(data)

Итерация 0
       id        date  store_nbr        family    sales  onpromotion
0  298919  2013-06-17         46  BREAD/BAKERY  566.253            0
1  298920  2013-06-17         46   CELEBRATION    0.000            0
Итерация 1
       id        date  store_nbr    family   sales  onpromotion
2  298921  2013-06-17         46  CLEANING  1707.0            0
3  298922  2013-06-17         46     DAIRY   711.0            0
Итерация 2
       id        date  store_nbr family    sales  onpromotion
4  298923  2013-06-17         46   DELI  709.268            0
5  298924  2013-06-17         46   EGGS  203.000            0
Итерация 3
       id        date  store_nbr        family   sales  onpromotion
6  298925  2013-06-17         46  FROZEN FOODS   249.0            0
7  298926  2013-06-17         46     GROCERY I  5715.0            0
Итерация 4
       id        date  store_nbr      family  sales  onpromotion
8  298927  2013-06-17         46  GROCERY II   42.0            0

In [89]:
sales = pd.read_json('sales_records.json',
                     lines=True,
                    chunksize=2)

In [90]:
for i, data in enumerate(sales):
    print(f"Итерация {i}")
    print(data)

Итерация 0
                                                  id
0  {'0': 298919, '1': 298920, '2': 298921, '3': 2...  \

                                                date
0  {'0': '2013-06-17', '1': '2013-06-17', '2': '2...  \

                                           store_nbr
0  {'0': 46, '1': 46, '2': 46, '3': 46, '4': 46, ...  \

                                              family
0  {'0': 'BREAD/BAKERY', '1': 'CELEBRATION', '2':...  \

                                               sales
0  {'0': 566.253, '1': 0.0, '2': 1707.0, '3': 711...  \

                                         onpromotion
0  {'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...

## Загрузка файла pickle

In [91]:
df_pickle = pd.read_pickle("names_m.pickle")

In [92]:
df_pickle

[{'ID': 1,
  'Name': 'Александр',
  'NumberOfPersons': 253,
  'global_id': 37750243,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 2,
  'Name': 'Михаил',
  'NumberOfPersons': 247,
  'global_id': 37750244,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 3,
  'Name': 'Иван',
  'NumberOfPersons': 226,
  'global_id': 37750245,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 4,
  'Name': 'Максим',
  'NumberOfPersons': 208,
  'global_id': 37750246,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 5,
  'Name': 'Артём',
  'NumberOfPersons': 190,
  'global_id': 37750247,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 6,
  'Name': 'Даниил',
  'NumberOfPersons': 171,
  'global_id': 62361364,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 7,
  'Name': 'Дмитрий',
  'NumberOfPersons': 164,
  'global_id': 62361365,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 8,
  'Name': 'Кирилл',
  'NumberOfPersons': 151,
  'global_id': 62361366,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 9,
  'Name': 'Андрей',
  'NumberOfPersons': 130,
  'global_id': 62361367,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 10,
  'Name': 'Егор',
  'NumberOfPersons': 126,
  'global_id': 62361368,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 11,
  'Name': 'Илья',
  'NumberOfPersons': 122,
  'global_id': 62361369,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 12,
  'Name': 'Алексей',
  'NumberOfPersons': 108,
  'global_id': 62361370,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 13,
  'Name': 'Владимир',
  'NumberOfPersons': 107,
  'global_id': 62361371,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 14,
  'Name': 'Матвей',
  'NumberOfPersons': 102,
  'global_id': 62361372,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 15,
  'Name': 'Тимофей',
  'NumberOfPersons': 102,
  'global_id': 62361373,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 16,
  'Name': 'Ярослав',
  'NumberOfPersons': 91,
  'global_id': 62361374,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 17,
  'Name': 'Роман',
  'NumberOfPersons': 90,
  'global_id': 62361375,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 18,
  'Name': 'Фёдор',
  'NumberOfPersons': 87,
  'global_id': 62361376,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 19,
  'Name': 'Никита',
  'NumberOfPersons': 87,
  'global_id': 62361377,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 20,
  'Name': 'Марк',
  'NumberOfPersons': 85,
  'global_id': 62361378,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 21,
  'Name': 'Сергей',
  'NumberOfPersons': 84,
  'global_id': 62361379,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 22,
  'Name': 'Николай',
  'NumberOfPersons': 70,
  'global_id': 62361380,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 23,
  'Name': 'Владислав',
  'NumberOfPersons': 63,
  'global_id': 62361381,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 24,
  'Name': 'Степан',
  'NumberOfPersons': 61,
  'global_id': 62361382,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 25,
  'Name': 'Глеб',
  'NumberOfPersons': 57,
  'global_id': 62361383,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 26,
  'Name': 'Лев',
  'NumberOfPersons': 51,
  'global_id': 62361384,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 27,
  'Name': 'Павел',
  'NumberOfPersons': 51,
  'global_id': 62361385,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 28,
  'Name': 'Евгений',
  'NumberOfPersons': 50,
  'global_id': 62361387,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 29,
  'Name': 'Арсений',
  'NumberOfPersons': 49,
  'global_id': 62361388,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 30,
  'Name': 'Константин',
  'NumberOfPersons': 49,
  'global_id': 62361389,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 31,
  'Name': 'Георгий',
  'NumberOfPersons': 48,
  'global_id': 62361390,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 32,
  'Name': 'Григорий',
  'NumberOfPersons': 46,
  'global_id': 62361392,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 33,
  'Name': 'Тимур',
  'NumberOfPersons': 44,
  'global_id': 62361393,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 34,
  'Name': 'Макар',
  'NumberOfPersons': 40,
  'global_id': 62361394,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 35,
  'Name': 'Игорь',
  'NumberOfPersons': 39,
  'global_id': 62361396,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 36,
  'Name': 'Руслан',
  'NumberOfPersons': 36,
  'global_id': 62361397,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 37,
  'Name': 'Пётр',
  'NumberOfPersons': 36,
  'global_id': 62361398,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 38,
  'Name': 'Виктор',
  'NumberOfPersons': 35,
  'global_id': 62361400,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 39,
  'Name': 'Денис',
  'NumberOfPersons': 35,
  'global_id': 62361401,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 40,
  'Name': 'Семён',
  'NumberOfPersons': 34,
  'global_id': 62361402,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 41,
  'Name': 'Платон',
  'NumberOfPersons': 33,
  'global_id': 62361404,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 42,
  'Name': 'Артемий',
  'NumberOfPersons': 32,
  'global_id': 62361405,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 43,
  'Name': 'Богдан',
  'NumberOfPersons': 31,
  'global_id': 62361406,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 44,
  'Name': 'Василий',
  'NumberOfPersons': 30,
  'global_id': 62361407,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 45,
  'Name': 'Юрий',
  'NumberOfPersons': 30,
  'global_id': 62361409,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 46,
  'Name': 'Давид',
  'NumberOfPersons': 29,
  'global_id': 62361410,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 47,
  'Name': 'Данила',
  'NumberOfPersons': 29,
  'global_id': 62361411,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 48,
  'Name': 'Леонид',
  'NumberOfPersons': 28,
  'global_id': 62361412,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 49,
  'Name': 'Антон',
  'NumberOfPersons': 28,
  'global_id': 62361413,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 50,
  'Name': 'Вячеслав',
  'NumberOfPersons': 26,
  'global_id': 62361414,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 51,
  'Name': 'Амир',
  'NumberOfPersons': 26,
  'global_id': 62361415,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 52,
  'Name': 'Захар',
  'NumberOfPersons': 25,
  'global_id': 62361416,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 53,
  'Name': 'Мирон',
  'NumberOfPersons': 25,
  'global_id': 62361417,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 54,
  'Name': 'Савелий',
  'NumberOfPersons': 23,
  'global_id': 62361418,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 55,
  'Name': 'Всеволод',
  'NumberOfPersons': 21,
  'global_id': 62361419,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 56,
  'Name': 'Артур',
  'NumberOfPersons': 20,
  'global_id': 62361420,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 57,
  'Name': 'Адам',
  'NumberOfPersons': 19,
  'global_id': 62361421,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 58,
  'Name': 'Елисей',
  'NumberOfPersons': 19,
  'global_id': 62361422,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 59,
  'Name': 'Родион',
  'NumberOfPersons': 18,
  'global_id': 62361423,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 60,
  'Name': 'Олег',
  'NumberOfPersons': 18,
  'global_id': 62361424,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 61,
  'Name': 'Филипп',
  'NumberOfPersons': 17,
  'global_id': 62361425,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 62,
  'Name': 'Даниэль',
  'NumberOfPersons': 17,
  'global_id': 62361427,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 63,
  'Name': 'Вадим',
  'NumberOfPersons': 17,
  'global_id': 62361428,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 64,
  'Name': 'Лука',
  'NumberOfPersons': 17,
  'global_id': 62361429,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 65,
  'Name': 'Демид',
  'NumberOfPersons': 16,
  'global_id': 62361430,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 66,
  'Name': 'Умар',
  'NumberOfPersons': 15,
  'global_id': 62361431,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 67,
  'Name': 'Святослав',
  'NumberOfPersons': 15,
  'global_id': 62361432,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 68,
  'Name': 'Ян',
  'NumberOfPersons': 14,
  'global_id': 62361433,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 69,
  'Name': 'Дамир',
  'NumberOfPersons': 14,
  'global_id': 62361434,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 70,
  'Name': 'Данил',
  'NumberOfPersons': 14,
  'global_id': 62361435,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 71,
  'Name': 'Тихон',
  'NumberOfPersons': 13,
  'global_id': 62361436,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 72,
  'Name': 'Борис',
  'NumberOfPersons': 13,
  'global_id': 62361437,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 73,
  'Name': 'Гордей',
  'NumberOfPersons': 13,
  'global_id': 62361438,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 74,
  'Name': 'Артем',
  'NumberOfPersons': 12,
  'global_id': 62361439,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 75,
  'Name': 'Роберт',
  'NumberOfPersons': 11,
  'global_id': 62361440,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 76,
  'Name': 'Серафим',
  'NumberOfPersons': 11,
  'global_id': 62361441,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 77,
  'Name': 'Мирослав',
  'NumberOfPersons': 11,
  'global_id': 62361442,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 78,
  'Name': 'Валерий',
  'NumberOfPersons': 11,
  'global_id': 62361443,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 79,
  'Name': 'Виталий',
  'NumberOfPersons': 11,
  'global_id': 62361444,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 80,
  'Name': 'Мухаммад',
  'NumberOfPersons': 10,
  'global_id': 62361445,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 81,
  'Name': 'Марат',
  'NumberOfPersons': 10,
  'global_id': 62361447,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 82,
  'Name': 'Станислав',
  'NumberOfPersons': 10,
  'global_id': 62361448,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 83,
  'Name': 'Муслим',
  'NumberOfPersons': 10,
  'global_id': 62361449,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 84,
  'Name': 'Амин',
  'NumberOfPersons': 9,
  'global_id': 62361450,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 85,
  'Name': 'Герман',
  'NumberOfPersons': 9,
  'global_id': 62361451,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 86,
  'Name': 'Камиль',
  'NumberOfPersons': 9,
  'global_id': 62361452,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 87,
  'Name': 'Савва',
  'NumberOfPersons': 9,
  'global_id': 62361453,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 88,
  'Name': 'Али',
  'NumberOfPersons': 9,
  'global_id': 62361454,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 89,
  'Name': 'Тамерлан',
  'NumberOfPersons': 8,
  'global_id': 62361455,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 90,
  'Name': 'Юсуф',
  'NumberOfPersons': 8,
  'global_id': 62361456,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 91,
  'Name': 'Яков',
  'NumberOfPersons': 8,
  'global_id': 62361457,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 92,
  'Name': 'Рустам',
  'NumberOfPersons': 8,
  'global_id': 62361458,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 93,
  'Name': 'Эмиль',
  'NumberOfPersons': 7,
  'global_id': 62361459,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 94,
  'Name': 'Билал',
  'NumberOfPersons': 7,
  'global_id': 62361460,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 95,
  'Name': 'Нурислам',
  'NumberOfPersons': 7,
  'global_id': 62361461,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 96,
  'Name': 'Данис',
  'NumberOfPersons': 6,
  'global_id': 62361462,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 97,
  'Name': 'Ислам',
  'NumberOfPersons': 6,
  'global_id': 62361463,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 98,
  'Name': 'Эрик',
  'NumberOfPersons': 6,
  'global_id': 62361464,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 99,
  'Name': 'Игнат',
  'NumberOfPersons': 6,
  'global_id': 62361465,
  'Year': 2015,
  'Month': 'январь'},
 {'ID': 736,
  'Name': 'Артемий',
  'NumberOfPersons': 47,
  'global_id': 62365937,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 737,
  'Name': 'Мирон',
  'NumberOfPersons': 47,
  'global_id': 62365938,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 738,
  'Name': 'Семён',
  'NumberOfPersons': 46,
  'global_id': 62365939,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 739,
  'Name': 'Григорий',
  'NumberOfPersons': 45,
  'global_id': 62365940,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 740,
  'Name': 'Евгений',
  'NumberOfPersons': 43,
  'global_id': 62365941,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 741,
  'Name': 'Леонид',
  'NumberOfPersons': 42,
  'global_id': 62365942,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 742,
  'Name': 'Антон',
  'NumberOfPersons': 40,
  'global_id': 62365943,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 743,
  'Name': 'Игорь',
  'NumberOfPersons': 36,
  'global_id': 62365944,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 744,
  'Name': 'Пётр',
  'NumberOfPersons': 33,
  'global_id': 62365945,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 745,
  'Name': 'Данила',
  'NumberOfPersons': 32,
  'global_id': 62365946,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 746,
  'Name': 'Захар',
  'NumberOfPersons': 29,
  'global_id': 62365947,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 747,
  'Name': 'Богдан',
  'NumberOfPersons': 28,
  'global_id': 62365948,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 748,
  'Name': 'Даниэль',
  'NumberOfPersons': 27,
  'global_id': 62365949,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 749,
  'Name': 'Руслан',
  'NumberOfPersons': 27,
  'global_id': 62365950,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 750,
  'Name': 'Василий',
  'NumberOfPersons': 26,
  'global_id': 62365951,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 751,
  'Name': 'Олег',
  'NumberOfPersons': 25,
  'global_id': 62365952,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 752,
  'Name': 'Вадим',
  'NumberOfPersons': 24,
  'global_id': 62365953,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 753,
  'Name': 'Виктор',
  'NumberOfPersons': 24,
  'global_id': 62365954,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 754,
  'Name': 'Дамир',
  'NumberOfPersons': 24,
  'global_id': 62365956,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 755,
  'Name': 'Тихон',
  'NumberOfPersons': 24,
  'global_id': 62365957,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 756,
  'Name': 'Юрий',
  'NumberOfPersons': 23,
  'global_id': 62365958,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 757,
  'Name': 'Демид',
  'NumberOfPersons': 22,
  'global_id': 62365959,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 758,
  'Name': 'Герман',
  'NumberOfPersons': 21,
  'global_id': 62365960,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 759,
  'Name': 'Амир',
  'NumberOfPersons': 20,
  'global_id': 62365961,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 760,
  'Name': 'Савва',
  'NumberOfPersons': 20,
  'global_id': 62365962,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 761,
  'Name': 'Савелий',
  'NumberOfPersons': 20,
  'global_id': 62365963,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 762,
  'Name': 'Вячеслав',
  'NumberOfPersons': 19,
  'global_id': 62365964,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 763,
  'Name': 'Елисей',
  'NumberOfPersons': 19,
  'global_id': 62365965,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 764,
  'Name': 'Родион',
  'NumberOfPersons': 19,
  'global_id': 62365966,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 765,
  'Name': 'Данил',
  'NumberOfPersons': 18,
  'global_id': 62365967,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 766,
  'Name': 'Святослав',
  'NumberOfPersons': 18,
  'global_id': 62365968,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 767,
  'Name': 'Роберт',
  'NumberOfPersons': 17,
  'global_id': 62365969,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 768,
  'Name': 'Лука',
  'NumberOfPersons': 16,
  'global_id': 62365970,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 769,
  'Name': 'Мухаммад',
  'NumberOfPersons': 16,
  'global_id': 62365971,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 770,
  'Name': 'Станислав',
  'NumberOfPersons': 16,
  'global_id': 62365972,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 771,
  'Name': 'Умар',
  'NumberOfPersons': 16,
  'global_id': 62365973,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 772,
  'Name': 'Мирослав',
  'NumberOfPersons': 15,
  'global_id': 62365974,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 773,
  'Name': 'Али',
  'NumberOfPersons': 14,
  'global_id': 62365975,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 774,
  'Name': 'Артур',
  'NumberOfPersons': 14,
  'global_id': 62365976,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 775,
  'Name': 'Всеволод',
  'NumberOfPersons': 14,
  'global_id': 62365977,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 776,
  'Name': 'Серафим',
  'NumberOfPersons': 14,
  'global_id': 62365978,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 777,
  'Name': 'Филипп',
  'NumberOfPersons': 14,
  'global_id': 62365979,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 778,
  'Name': 'Артем',
  'NumberOfPersons': 13,
  'global_id': 62365980,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 779,
  'Name': 'Адам',
  'NumberOfPersons': 13,
  'global_id': 62365981,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 780,
  'Name': 'Анатолий',
  'NumberOfPersons': 12,
  'global_id': 62365982,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 781,
  'Name': 'Борис',
  'NumberOfPersons': 12,
  'global_id': 62365983,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 782,
  'Name': 'Демьян',
  'NumberOfPersons': 12,
  'global_id': 62365984,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 783,
  'Name': 'Эмир',
  'NumberOfPersons': 12,
  'global_id': 62365985,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 784,
  'Name': 'Виталий',
  'NumberOfPersons': 11,
  'global_id': 62365986,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 785,
  'Name': 'Эмиль',
  'NumberOfPersons': 11,
  'global_id': 62365987,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 786,
  'Name': 'Гордей',
  'NumberOfPersons': 9,
  'global_id': 62365988,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 787,
  'Name': 'Максимилиан',
  'NumberOfPersons': 9,
  'global_id': 62365989,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 788,
  'Name': 'Марат',
  'NumberOfPersons': 9,
  'global_id': 62365990,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 789,
  'Name': 'Алихан',
  'NumberOfPersons': 8,
  'global_id': 62365991,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 790,
  'Name': 'Валерий',
  'NumberOfPersons': 8,
  'global_id': 62365992,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 791,
  'Name': 'Ильяс',
  'NumberOfPersons': 8,
  'global_id': 62365993,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 792,
  'Name': 'Эрик',
  'NumberOfPersons': 8,
  'global_id': 62365994,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 793,
  'Name': 'Данияр',
  'NumberOfPersons': 7,
  'global_id': 62365995,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 794,
  'Name': 'Камиль',
  'NumberOfPersons': 7,
  'global_id': 62365996,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 795,
  'Name': 'Федор',
  'NumberOfPersons': 7,
  'global_id': 62365997,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 796,
  'Name': 'Ян',
  'NumberOfPersons': 7,
  'global_id': 62365998,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 797,
  'Name': 'Аким',
  'NumberOfPersons': 6,
  'global_id': 62365999,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 798,
  'Name': 'Данис',
  'NumberOfPersons': 6,
  'global_id': 62366000,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 799,
  'Name': 'Карим',
  'NumberOfPersons': 6,
  'global_id': 62366002,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 800,
  'Name': 'Леон',
  'NumberOfPersons': 6,
  'global_id': 62366003,
  'Year': 2015,
  'Month': 'август'},
 {'ID': 801,
  'Name': 'Максим',
  'NumberOfPersons': 276,
  'global_id': 62366004,
  'Year': 2015,
  'Month': 'сентябрь'},
 {'ID': 802,
  'Name': 'Александр',
  'NumberOfPersons': 275,
  'global_id': 62366005,
  'Year': 2015,
  'Month': 'сентябрь'},
 {'ID': 803,
  'Name': 'Михаил',
  'NumberOfPersons': 249,

In [93]:
type(df_pickle)

list

## Сохранение данных в бинарном формате parquet

In [94]:
names = pd.read_json("names_m.json", 
                     encoding="Windows-1251")

In [95]:
names

         ID       Name  NumberOfPersons   global_id  Year   Month
0         1  Александр              253    37750243  2015  январь
1         2     Михаил              247    37750244  2015  январь
2         3       Иван              226    37750245  2015  январь
3         4     Максим              208    37750246  2015  январь
4         5      Артём              190    37750247  2015  январь
...     ...        ...              ...         ...   ...     ...
9896  11092   Тамерлан                8  2587775282  2023  Апрель
9897  11093    Даниэль                8  2587775283  2023  Апрель
9898  11094    Абдулла                8  2587775284  2023  Апрель
9899  11095       Олег                8  2587775285  2023  Апрель
9900  11096      Игорь                8  2587775286  2023  Апрель

[9901 rows x 6 columns]

Записываем данные в файл parquet

In [96]:
names.to_parquet('names.parquet')

Загружаем данные из parquet

In [97]:
new_names = pd.read_parquet('names.parquet')

In [98]:
new_names

         ID       Name  NumberOfPersons   global_id  Year   Month
0         1  Александр              253    37750243  2015  январь
1         2     Михаил              247    37750244  2015  январь
2         3       Иван              226    37750245  2015  январь
3         4     Максим              208    37750246  2015  январь
4         5      Артём              190    37750247  2015  январь
...     ...        ...              ...         ...   ...     ...
9896  11092   Тамерлан                8  2587775282  2023  Апрель
9897  11093    Даниэль                8  2587775283  2023  Апрель
9898  11094    Абдулла                8  2587775284  2023  Апрель
9899  11095       Олег                8  2587775285  2023  Апрель
9900  11096      Игорь                8  2587775286  2023  Апрель

[9901 rows x 6 columns]

## Запись данных в базу

In [99]:
from sqlalchemy import create_engine
from sqlalchemy import text

Создаем базу данных sqlite в памяти

In [100]:
engine = create_engine('sqlite://', echo=False)

In [101]:
names = pd.read_json("names_m.json", 
                     encoding="Windows-1251")

Записываем данные в базу средствами Pandas

In [102]:
names[['Name', 'NumberOfPersons', 'Year', 'Month']].to_sql("names", 
                                                           engine,
                                                           if_exists='append')

9901

Проверяем, что данные сохранились в базе

In [103]:
with engine.connect() as conn:
    data = conn.execute(text("SELECT * FROM names LIMIT 10")).fetchall()

In [104]:
data

[(0, 'Александр', 253, 2015, 'январь'),
 (1, 'Михаил', 247, 2015, 'январь'),
 (2, 'Иван', 226, 2015, 'январь'),
 (3, 'Максим', 208, 2015, 'январь'),
 (4, 'Артём', 190, 2015, 'январь'),
 (5, 'Даниил', 171, 2015, 'январь'),
 (6, 'Дмитрий', 164, 2015, 'январь'),
 (7, 'Кирилл', 151, 2015, 'январь'),
 (8, 'Андрей', 130, 2015, 'январь'),
 (9, 'Егор', 126, 2015, 'январь')]