# Работаем с базами данных через Pandas

<a target="_blank" href="https://colab.research.google.com/github/sozykin/middle_python/blob/main/05/05_pandas.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
import pandas as pd
import sqlite3

## Создаем Pandas DataFrame из SQL запроса

In [ ]:
# Подключаемся к базе данных
connection = sqlite3.connect('test.db')

In [ ]:
df = pd.read_sql("SELECT * FROM names", connection)

In [ ]:
df

In [ ]:
df.info()

Используме сложный запрос для создания DataFrame

In [ ]:
select = """
SELECT name, SUM(number_of_persons) as cnt
FROM names
GROUP BY name
ORDER BY cnt DESC
LIMIT 10
"""

In [ ]:
df = pd.read_sql(select, connection)

In [ ]:
df

## Читаем данные из файла JSON

In [ ]:
names = pd.read_json("names_f.json",
                     encoding="Windows-1251")

In [ ]:
names

## Записываем данные в таблицу

In [ ]:
names.to_sql('names', 
             connection, 
             if_exists='append',
             index=False)

In [ ]:
names.rename(columns={"NumberOfPersons": "number_of_persons"}, inplace=True)

In [ ]:
names

In [ ]:
names.to_sql('names', 
             connection, 
             if_exists='append',
             index=False)