# Используем Python для работы с базой данных SQLite

<a target="_blank" href="https://colab.research.google.com/github/sozykin/middle_python/blob/main/05/05_sqlite.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
import sqlite3

## Установка соединения

In [ ]:
# Создание базы данных в файле test.db 
connection = sqlite3.connect('test.db')

In [ ]:
# Создаем курсор
cursor = connection.cursor()

## Создание таблицы для данных

In [ ]:
# Оператор SQL для создания таблицы
create_names_table = """
CREATE TABLE IF NOT EXISTS names(
    id INTEGER,
    name TEXT,
    number_of_persons INTEGER,
    global_id INTEGER,
    year INTEGER,
    month TEXT 
)
"""

# Запускаем команду создания таблицы
cursor.execute(create_names_table)

# Фиксируем изменения
connection.commit()

## Вставка данных в таблицу

In [ ]:
# Оператор SQL для вставки данных в таблицу 
insert_data = """
INSERT INTO names (id, name, number_of_persons, global_id, year, month)
VALUES (1, 'Мария', 252, 37750254, 2015, 'январь')
"""

# Запускаем команду вставки данных
cursor.execute(insert_data)

# Фиксируем изменения
connection.commit()

## Запрос данных из таблицы

In [ ]:
# Запрос SQL для извлечения данных из таблицы names
select_data = "SELECT * FROM names"

# Запускаем запрос получения данных
cursor.execute(select_data)

# Получаем результаты запроса
resuls = cursor.fetchall()

# Печатаем результаты
for row in resuls:
    print(row)

## Завершение работы

In [ ]:
# Закрываем курсор
cursor.close()

In [ ]:
# Закрываем соединение
connection.close()

## Изменение данных в таблице

In [ ]:
# Создание соединения
connection = sqlite3.connect('test.db')

In [ ]:
# Создание курсора
cursor = connection.cursor()

Читаем данные из таблицы

In [ ]:
def get_data(cursor, table):
    sql = f"SELECT * FROM {table}"
    cursor.execute(sql)
    return cursor.fetchall()

In [ ]:
get_data(cursor, 'names')

Добавляем строку в таблицу

In [ ]:
# Оператор SQL для вставки данных в таблицу 
insert_data = """
INSERT INTO names (id, name, number_of_persons, global_id, year, month)
VALUES (2, 'Анастасия', 224, 37750255, 2015, 'январь')
"""

# Запускаем команду вставки данных
cursor.execute(insert_data)

# Фиксируем изменения
connection.commit()

In [ ]:
get_data(cursor, 'names')

Изменяем данные в таблице

In [ ]:
update_data = """
UPDATE names SET number_of_persons = 250
WHERE id = 2
"""

# Запускаем команду вставки данных
cursor.execute(update_data)

# Фиксируем изменения
connection.commit()

In [ ]:
get_data(cursor, 'names')

Изменяем несколько строк

In [ ]:
update_data = """
UPDATE names SET number_of_persons = 255
WHERE name = 'Мария'
"""

# Запускаем команду изменения данных
cursor.execute(update_data)

# Фиксируем изменения
connection.commit()

In [ ]:
get_data(cursor, 'names')

Удаляем данные

In [ ]:
delete_data = """
DELETE FROM names 
WHERE name = 'Мария'
"""

# Запускаем команду удаления данных
cursor.execute(delete_data)

# Фиксируем изменения
connection.commit()

In [ ]:
get_data(cursor, 'names')

## Работа с транзакциями

In [ ]:
delete_data = "DELETE FROM names" 

# Запускаем команду удаления данных
cursor.execute(delete_data)

In [ ]:
get_data(cursor, 'names')

In [ ]:
# Отменяем транзакцию
connection.rollback()

In [ ]:
get_data(cursor, 'names')

## Безопасность: SQL инъекции

In [ ]:
def get_data2(cursor, table):
    sql = f"SELECT * FROM {table}"
    cursor.executescript(sql)
    return cursor.fetchall()

In [ ]:
# SQL инъекция - удаление таблицы
get_data2(cursor, 'names; DROP TABLE names;')

Получаем список таблиц в базе SQLite

In [ ]:
list_tables = """
SELECT
    name
FROM
    sqlite_master
WHERE
    type ='table' AND
    name NOT LIKE 'sqlite_%'
"""

cursor.execute(list_tables)

cursor.fetchall()

In [ ]:
get_data(cursor, 'names')

## Связывание значений (bind values)

In [ ]:
# Запрос с параметром
sql = "SELECT * FROM names WHERE name = ?"

In [ ]:
cursor.execute(sql, ['Мария'])

cursor.fetchall()

In [ ]:
cursor.execute(sql, ['Анастасия'])

cursor.fetchall()

## Вставка нескольких строк в таблицу

In [ ]:
# Оператор SQL для вставки данных в таблицу 
insert_several_rows = """
INSERT INTO names (id, name, number_of_persons, global_id, year, month)
VALUES (3, 'Анна', 190, 37750256, 2015, 'январь'),
       (4, 'Варвара', 190, 37750257, 2015, 'январь'),
       (5, 'Виктория', 186, 37750258, 2015, 'январь')
"""

In [ ]:
# Запускаем команду вставки данных
cursor.execute(insert_several_rows)

# Фиксируем изменения
connection.commit()

In [ ]:
get_data(cursor, 'names')

Связывание переменных

In [ ]:
# Подготавливаем запрос с параметрами
insert_several_rows_parameters = """
INSERT INTO names (id, name, number_of_persons, global_id, year, month)
VALUES (?, ?, ?, ?, ?, ?)
"""

In [ ]:
# Значения для параметров запроса
rows = [
    (483, 'Амелия', 8, 62367755, 2015, 'май'),
    (484, 'Камила', 8, 62367756, 2015, 'май')
]

In [ ]:
# Запускаем команду вставки нескольких элементов данных
cursor.executemany(insert_several_rows_parameters, rows)

# Фиксируем изменения
connection.commit()

In [ ]:
get_data(cursor, 'names')

Связывание переменных через словарь

In [ ]:
rows = [
    {'id': 483, 
     'name': 'Евангелина', 
     'number_of_persons': 8, 
     'global_id': 62367757, 
     'year': 2015, 
     'month': 'май'},
    {'id': 486, 
     'name': 'Альбина', 
     'number_of_persons': 8, 
     'global_id': 62367758, 
     'year': 2015, 
     'month': 'май'}
]

In [ ]:
# Подготавливаем запрос с именованными параметрами
insert_several_rows_parameters = """
INSERT INTO names (id, name, number_of_persons, global_id, year, month)
VALUES (:id, :name, :number_of_persons, :global_id, :year, :month)
"""

In [ ]:
# Запускаем команду вставки нескольких элементов данных
cursor.executemany(insert_several_rows_parameters, rows)

# Фиксируем изменения
connection.commit()

In [ ]:
get_data(cursor, 'names')

## Ограничения целостности

In [ ]:
# Удаляем таблицу names
cursor.execute("DROP TABLE names")

# Фиксируем изменения
connection.commit()

In [ ]:
# Оператор SQL для создания таблицы
create_names_table = """
CREATE TABLE IF NOT EXISTS names(
    id INTEGER,
    name TEXT,
    number_of_persons INTEGER,
    global_id INTEGER PRIMARY KEY,
    year INTEGER,
    month TEXT 
)
"""

# Запускаем команду создания таблицы
cursor.execute(create_names_table)

# Фиксируем изменения
connection.commit()

In [ ]:
# Оператор SQL для вставки данных в таблицу 
insert_data = """
INSERT INTO names (id, name, number_of_persons, global_id, year, month)
VALUES (1, 'Мария', 252, 37750254, 2015, 'январь')
"""

# Запускаем команду вставки данных
cursor.execute(insert_data)

# Фиксируем изменения
connection.commit()

In [ ]:
get_data(cursor, 'names')

## Исключения

In [ ]:
cursor.execute("SELECT * FROM table1")

In [ ]:
cursor.execute("DROP TABLE table1")

In [ ]:
cursor.execute("SELECT first_name, last_name FROM names")

In [ ]:
connection = sqlite3.connect('d:\\new_test.db')

Обработка исключений

In [ ]:
from sqlite3 import Error

In [ ]:
# Оператор SQL для вставки данных в таблицу 
insert_data = """
INSERT INTO names (id, name, number_of_persons, global_id, year, month)
VALUES (1, 'Мария', 252, 37750254, 2015, 'январь')
"""

try:
    # Запускаем команду вставки данных
    cursor.execute(insert_data)
    # Фиксируем изменения
    connection.commit()
    print("Запрос выполнен успешно")
except Error as e:
    print(f"Ошибка при выполнении запроса: {e}")

In [ ]:
cursor.close()

In [ ]:
connection.close()

## Загрузка данных в базу из JSON файла

In [ ]:
import json

In [ ]:
with open("names_m.json", "r") as read_file:
    data = json.load(read_file)

In [ ]:
data

In [ ]:
len(data)

In [ ]:
# Подключение к базе данных test.db 
connection = sqlite3.connect('test.db')
# Создаем курсор
cursor = connection.cursor()

In [ ]:
# Удаляем таблицу
cursor.execute("DROP TABLE IF EXISTS names")

# Фиксируем изменения
connection.commit()

In [ ]:
# Оператор SQL для создания таблицы
create_names_table = """
CREATE TABLE IF NOT EXISTS names(
    id INTEGER,
    name TEXT,
    number_of_persons INTEGER,
    global_id INTEGER,
    year INTEGER,
    month TEXT 
)
"""

# Запускаем команду создания таблицы
cursor.execute(create_names_table)

# Фиксируем изменения
connection.commit()

In [ ]:
# Подготавливаем запрос с именованными параметрами
insert_several_rows_parameters = """
INSERT INTO names (id, name, number_of_persons, global_id, year, month)
VALUES (:ID, :Name, :NumberOfPersons, :global_id, :Year, :Month)
"""

In [ ]:
cursor.executemany(insert_several_rows_parameters, data)
    
# Фиксируем изменения
connection.commit()

## Запускаем SQL запрос с группировкой

In [ ]:
# Запрос SQL
select = """
SELECT name, SUM(number_of_persons) as cnt
FROM names
GROUP BY name
ORDER BY cnt DESC
LIMIT 10
"""

cursor.execute(select)

for row in cursor.fetchall():
    print(row)