# Библиотека Pandas в Python

Курс "Python для продвинутых специалистов"

Подключаем библиотеку Pandas

In [1]:
# Подключаем библиотеку Pandas
import pandas as pd

## Чтение файла csv в Pandas

In [4]:
# Читаем csv файл в Pandas
df = pd.read_csv('sales_headers.csv')

In [5]:
df

       id        date  store_nbr        family     sales  onpromotion
0  298919  2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920  2013-06-17         46   CELEBRATION     0.000            0
2  298921  2013-06-17         46      CLEANING  1707.000            0
3  298922  2013-06-17         46         DAIRY   711.000            0
4  298923  2013-06-17         46          DELI   709.268            0
5  298924  2013-06-17         46          EGGS   203.000            0
6  298925  2013-06-17         46  FROZEN FOODS   249.000            0
7  298926  2013-06-17         46     GROCERY I  5715.000            0
8  298927  2013-06-17         46    GROCERY II    42.000            0

In [9]:
# Выбор стольцов в Pandas DataFrame
print(df[['date','store_nbr', 'sales']])

         date  store_nbr     sales
0  2013-06-17         46   566.253
1  2013-06-17         46     0.000
2  2013-06-17         46  1707.000
3  2013-06-17         46   711.000
4  2013-06-17         46   709.268
5  2013-06-17         46   203.000
6  2013-06-17         46   249.000
7  2013-06-17         46  5715.000
8  2013-06-17         46    42.000

## Типы данных столбцов

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9 non-null      int64
 1   date         9 non-null      object
 2   store_nbr    9 non-null      int64
 3   family       9 non-null      object
 4   sales        9 non-null      float64
 5   onpromotion  9 non-null      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 560.0+ bytes

Распознавание даты в Pandas

In [11]:
df = pd.read_csv('sales_headers.csv', parse_dates=['date'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9 non-null      int64
 1   date         9 non-null      datetime64[ns]
 2   store_nbr    9 non-null      int64
 3   family       9 non-null      object
 4   sales        9 non-null      float64
 5   onpromotion  9 non-null      int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 560.0+ bytes

In [13]:
df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            0
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            0
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

## Фильтрация данных в Pandas

In [14]:
# Фильтрация данных в DataFrame
print(df[df.sales > 1000])

       id       date  store_nbr     family   sales  onpromotion
2  298921 2013-06-17         46   CLEANING  1707.0            0
7  298926 2013-06-17         46  GROCERY I  5715.0            0

## Агрегатные функции в Pandas

In [ ]:
# Агрегатные функции в Pandas
print(df['sales'].sum())

9902.521

In [ ]:
print(df['sales'].max())

5715.0

In [ ]:
print(df['sales'].min())

0.0

Группировка в Pandas

In [ ]:
print(df[['family', 'sales']].groupby('family').sum())

                 sales
family
BREAD/BAKERY   566.253
CELEBRATION      0.000
CLEANING      1707.000
DAIRY          711.000
DELI           709.268
EGGS           203.000
FROZEN FOODS   249.000
GROCERY I     5715.000
GROCERY II      42.000

## Изменение таблицы в Pandas

In [15]:
df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            0
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            0
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

In [28]:
df[df.family == 'FROZEN FOODS']['onpromotion'] = 1

<ipython-input-28-e5a6509055b8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.family == 'FROZEN FOODS']['onpromotion'] = 1

In [20]:
df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            0
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            0
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

In [30]:
df.loc[df.family == 'FROZEN FOODS', ('onpromotion')] = 1

In [31]:
df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            0
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            1
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

## Pandas DataFrame в памяти

In [32]:
new_df = df

In [33]:
new_df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            0
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            1
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

In [34]:
id(df)

139818955041584

In [35]:
id(new_df)

139818955041584

In [36]:
new_df.loc[df.family == 'CLEANING', ('onpromotion')] = 1

In [37]:
new_df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            1
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            1
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

In [38]:
df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            1
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            1
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

In [39]:
separate_df = df.copy()

In [40]:
id(df)

139818955041584

In [41]:
id(separate_df)

139818861580576

In [42]:
df.loc[df.family == 'FROZEN FOODS', ('onpromotion')] = 0

In [43]:
df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            1
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            0
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

In [45]:
separate_df

       id       date  store_nbr        family     sales  onpromotion
0  298919 2013-06-17         46  BREAD/BAKERY   566.253            0
1  298920 2013-06-17         46   CELEBRATION     0.000            0
2  298921 2013-06-17         46      CLEANING  1707.000            1
3  298922 2013-06-17         46         DAIRY   711.000            0
4  298923 2013-06-17         46          DELI   709.268            0
5  298924 2013-06-17         46          EGGS   203.000            0
6  298925 2013-06-17         46  FROZEN FOODS   249.000            1
7  298926 2013-06-17         46     GROCERY I  5715.000            0
8  298927 2013-06-17         46    GROCERY II    42.000            0

## Запись из Pandas в файл

In [48]:
output_file = 'new_sales.csv'

In [49]:
separate_df.to_csv(output_file)

In [50]:
!cat "$output_file"

,id,date,store_nbr,family,sales,onpromotion
0,298919,2013-06-17,46,BREAD/BAKERY,566.253,0
1,298920,2013-06-17,46,CELEBRATION,0.0,0
2,298921,2013-06-17,46,CLEANING,1707.0,1
3,298922,2013-06-17,46,DAIRY,711.0,0
4,298923,2013-06-17,46,DELI,709.268,0
5,298924,2013-06-17,46,EGGS,203.0,0
6,298925,2013-06-17,46,FROZEN FOODS,249.0,1
7,298926,2013-06-17,46,GROCERY I,5715.0,0
8,298927,2013-06-17,46,GROCERY II,42.0,0

Запись без индекса

In [52]:
separate_df.to_csv(output_file, index=False)

In [53]:
!cat "$output_file"

id,date,store_nbr,family,sales,onpromotion
298919,2013-06-17,46,BREAD/BAKERY,566.253,0
298920,2013-06-17,46,CELEBRATION,0.0,0
298921,2013-06-17,46,CLEANING,1707.0,1
298922,2013-06-17,46,DAIRY,711.0,0
298923,2013-06-17,46,DELI,709.268,0
298924,2013-06-17,46,EGGS,203.0,0
298925,2013-06-17,46,FROZEN FOODS,249.0,1
298926,2013-06-17,46,GROCERY I,5715.0,0
298927,2013-06-17,46,GROCERY II,42.0,0

Запись без заголовка

In [54]:
separate_df.to_csv(output_file, index=False, header=False)

In [55]:
!cat "$output_file"

298919,2013-06-17,46,BREAD/BAKERY,566.253,0
298920,2013-06-17,46,CELEBRATION,0.0,0
298921,2013-06-17,46,CLEANING,1707.0,1
298922,2013-06-17,46,DAIRY,711.0,0
298923,2013-06-17,46,DELI,709.268,0
298924,2013-06-17,46,EGGS,203.0,0
298925,2013-06-17,46,FROZEN FOODS,249.0,1
298926,2013-06-17,46,GROCERY I,5715.0,0
298927,2013-06-17,46,GROCERY II,42.0,0

Запись в файл Excel

In [56]:
separate_df.to_excel('sales.xlsx', index=False)